
<header class="site-header">
    <div class="wrapper">

        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="site-nav">

            <div class="nav-item"><i class="fa fa-check"></i><a href="/about">About</a></div>
            <div class="nav-item"><i class=""></i><a href="/email">Email</a></div>
            <div class="nav-item"><i class=""></i><a href="/projects">Projects</a></div>
            <div class="nav-item"><i class=""></i><a href="/rss">Feed</a></div>

        </nav>

  </div>
</header>

