<a id        = "menu-btn-home"
 class       = "sab-menu-btn"
 href        = "/"
 data-after  = "Home">
  <i class   = "fa fa-2x fa-home"></i>
</a>
<a id        = "menu-btn-0"
 class       = "sab-menu-btn {% if page.path == 'pages/posts.html' %}active{% endif %}"
 href        = "/posts"
 data-after  = "My Scribbles">
  <i class   = "fa fa-2x fa-edit"></i>
</a>
<a id        = "menu-btn-1"
 class       = "sab-menu-btn {% if page.path == 'about.md' %}active{% endif %}"
 href        = "/about"
 data-after  = "About Me">
  <i class   = "fa fa-2x fa-at"></i>
</a>
<a id        = "menu-btn-2"
 class       = "sab-menu-btn"
 href        = "https://github.com/sabhiram"
 data-after  = "My Github">
  <i class   = "fa fa-2x fa-github"></i>
</a>
<a id        = "menu-btn-3"
 class       = "sab-menu-btn"
 href        = "mailto:mail@sabhiram.com"
 data-after  = "Email Me">
  <i class   = "fa fa-2x fa-child"></i>
</a>
<div class = "clearfix"></div>
