/*
    Style for the index page, full screen container
    and misc other minor css
*/
.sab-fs-container {
    min-height: 100vh;
    position: relative;

    background: $background-color;
    color: $text-color;
}

.sab-fs-container .wrapper {
    position: absolute;
    left: 0; right: 0;
    top: 32%;

    text-align: left;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: $content-width;
    height: 100%;

    padding: 10px;
}

.sab-link {
    text-decoration: none;
    color: $sab-text-color;

    @include user-select(none);
    @include transition(color 0.3s ease);

    &:visited {
        color: $sab-text-color;
    }
    &:hover {
        color: $sab-text-alt;
        text-decoration: none;
    }
}

.sab-link.mailto:before,
.sab-link.mailto:after {
    font-size: 1.30rem;
    color: $background-color;
    @include transition(color 0.3s ease);
}
.sab-link.mailto:before {
    content: "mail@";
}
.sab-link.mailto:after {
    content: ".com"
}
.sab-link.mailto:hover:before {
    color: $sab-popup-text-color;
}
.sab-link.mailto:hover:after {
    color: $sab-popup-text-color;
}
/*
    Nav styling
*/
.container nav {
    position: absolute;
    margin-top: 120px;

    width: 100%;

    @include user-select(none);
}

ul.sab-ul-inline {
    list-style-type: none;
    padding: 0; margin: 0;
}
ul.sab-ul-inline li {
    display: inline-block;
    padding: 1px;
}
ul.sab-ul-inline li a {
    text-decoration: none;
    color: $sab-text-color;
    font-size: 1.3rem;

    @include transition(color 0.3s ease);
    &:visited {
        color: $sab-text-color;
    }
    &:hover {
        color: $sab-text-alt;
        text-decoration: none;
    }
}

.fa-main-link:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    content: "";
    position: absolute;
    top: -25px;
    color: $background-color;
    @include transition(color 0.3s ease);
}
.fa-main-link:after {
    content: "";
    position: absolute;
    top: 120%;
    color: $background-color;
    @include transition(color 0.3s ease);
}
.fa-main-link:hover:before {
    color: $sab-popup-text-color;
}
.fa-main-link:hover:after {
    font-size: 1.0rem;
    color: $sab-popup-text-color;
}


#mainThoughts:before {
    left: 40px;
}
#mainThoughts:hover:before {
    content: "\f044";
}
#mainThoughts:after {
    left: 40%;
}
#mainThoughts:hover:after {
    content: "my scribbles";
}

#mainAbout:before {
    left: 114px;
}
#mainAbout:hover:before {
    content: "\f1fa";
}
#mainAbout:after {
    left: 40%;
}
#mainAbout:hover:after {
    content: "whoami?";
}

#mainStuff:before {
    left: 168px;
}
#mainStuff:hover:before {
    content: "\f09b";
}
#mainStuff:after {
    left: 40%;
}
#mainStuff:hover:after {
    content: "my github stuff";
}


/*
    Style for the POST pages / back button
*/
.sab-page-back {
    width: 80px;
    height: 80px;
    cursor: pointer;

    border-right: 3px solid black;
    border-bottom: 3px solid black;
    user-select: none;

    @include border-radius(0 0 80px 0);
    @include transition(background 0.3s ease);

    &:hover {
        background: $sab-text-alt;
    }

    display: block;
    position: fixed;

    @include media-query($squished-nav-min) {
        display: none;
    }

}
.sab-page-back i {
    padding-top: 10px;
    padding-left: 10px;
    color: $button-text;
}
.sab-page-back:hover i {
    color: $button-text-selected;
}





/*
    Playground
*/
.sab-menu-btn {
    display: block;
    position: relative;
    float: left;

    width: 50px;
    height: 50px;

    border: 3px solid black;

    background: $background-color;
    color: $text-color;

    @include transition(all 0.3s ease);
    @include border-radius(100%);

    z-index: 1;
    margin: 6px;

    &:visited {
        color: $text-color;
    }

    &:hover {
        background: $sab-text-alt;
        color: $background-color;

        &:after {
            position: absolute;
            top: 110%;
            left: -35px;

            text-align: center;
            color: $grey-color;

            width: 120px;
            content: attr(data-after);
        }
    }

    &.active {
        background: lighten($grey-color, 35%);
        color: $text-color;
    }

    i {
        padding-top: 10px;
        padding-left: 11px;
    }
}
#menu-btn-home {
    display: none;
    @include media-query($squished-nav-min) {
        display: block;
    }
}
#menu-btn-0 {
    margin-left: 90px;
    @include media-query($squished-nav-min) {
        margin-left: 6px;
    }
}
#menu-btn-1 {
    i { padding-left: 12px; }
}
#menu-btn-2 {
}
#menu-btn-3 {
    i { padding-top: 9px; padding-left: 14px; }
}

.clearfix {
    clear: both;
}

.nav-right {
    padding-top: 20px;
    padding-bottom: 10px;

    border-bottom: 3px dashed $grey-color-light;

    .sab-menu-btn {
        &:hover {
            &:after {
                top: -30px;
            }
        }
    }
    #menu-btn-0 {
        margin-left: 6px;
    }
}
