/*
    Style for the index page, full screen container
    and misc other minor css
*/
.sab-fs-container {
    min-height: 100vh;
    position: relative;

    background: $background-color;
    color: $text-color;
}

.sab-fs-container .wrapper {
    position: absolute;
    left: 0; right: 0;
    top: 32%;

    text-align: left;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: $content-width;
    height: 100%;

    padding: 10px;
}

.sab-link {
    text-decoration: none;
    color: $sab-text-color;

    @include user-select(none);
    @include transition(color 0.3s ease);

    &:visited {
        color: $sab-text-color;
    }
    &:hover {
        color: $sab-text-hover;
        text-decoration: none;
    }
}
.sab-link.mailto:before {
    content: "mail@";
    font-size: 1.00rem;
    color: $background-color;
    @include transition(color 0.3s ease);
}
.sab-link.mailto:after {
    content: ".com";
    font-size: 1.00rem;
    color: $background-color;
    @include transition(color 0.3s ease);
}
.sab-link.mailto:hover:before {
    color: $sab-popup-text-color;
}
.sab-link.mailto:hover:after {
    color: $sab-popup-text-color;
}
/*
    Nav styling
*/
.container nav {
    position: absolute;
    margin-top: 120px;

    width: 100%;

    @include user-select(none);
}

ul.sab-ul-inline {
    list-style-type: none;
    padding: 0; margin: 0;
}
ul.sab-ul-inline li {
    display: inline-block;
    padding: 1px;
}
ul.sab-ul-inline li a {
    text-decoration: none;
    color: $sab-text-color;
    font-size: 1.3rem;

    @include transition(color 0.3s ease);
    &:visited {
        color: $sab-text-color;
    }
    &:hover {
        color: $sab-text-hover;
        text-decoration: none;
    }
}

.fa-main-link:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    content: "";
    position: absolute;
    top: -25px;
    color: $background-color;
    @include transition(color 0.3s ease);
}
.fa-main-link:after {
    content: "";
    position: absolute;
    top: 120%;
    color: $background-color;
    @include transition(color 0.3s ease);
}
.fa-main-link:hover:before {
    color: $sab-popup-text-color;
}
.fa-main-link:hover:after {
    font-size: 1.0rem;
    color: $sab-popup-text-color;
}


#mainThoughts:before {
    left: 40px;
}
#mainThoughts:hover:before {
    content: "\f044";
}
#mainThoughts:after {
    left: 40%;
}
#mainThoughts:hover:after {
    content: "my scribbles";
}

#mainAbout:before {
    left: 114px;
}
#mainAbout:hover:before {
    content: "\f1fa";
}
#mainAbout:after {
    left: 40%;
}
#mainAbout:hover:after {
    content: "whoami?";
}

#mainStuff:before {
    left: 168px;
}
#mainStuff:hover:before {
    content: "\f09b";
}
#mainStuff:after {
    left: 40%;
}
#mainStuff:hover:after {
    content: "my github repos";
}
