<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <a class = "sab-page-back"
       href = "/">
        <i class = "fa fa-3x fa-home"></i>
    </a>
    <div id = "nav-connector-0" class = "sab-nav-connector"></div>
    <a id = "menu-btn-0" class = "sab-menu-btn" href = "/about"><i class = "fa fa-2x fa-child"></i></a>
    <div id = "nav-connector-1" class = "sab-nav-connector"></div>
    <a id = "menu-btn-1" class = "sab-menu-btn" href = "https://github.com/sabhiram"><i class = "fa fa-2x fa-github"></i></a>
    <div id = "nav-connector-2" class = "sab-nav-connector"></div>
    <a id = "menu-btn-2" class = "sab-menu-btn" href = "mailto:mail@sabhiram.com"><i class = "fa fa-2x fa-at"></i></a>
    <div id = "nav-connector-2" class = "sab-nav-connector"></div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
